.aboutLayout {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: "logo header header" "logo main main" "footer footer  footer";
}
.indexLayout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: "logo header header" "main main main" "footer footer  footer";
}
.robotsLayout {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: "logo header header" "logo main main" "footer footer  footer";
}
.myForm {
  display: flex;
  justify-content: flex-end;
}
.home {
  grid-area: logo;
  text-align: center;
}
header {
  grid-area: header;
}
.main {
  grid-area: main;
}
footer {
  color: white;
  font-size: 10px;
  background-color: black;
  width: 100%;
  height: 50px;
  grid-area: footer;
}
.robotList {
  display: flex;
  flex-wrap: wrap;
}
img.headerlogo {
  height: 100px;
  width: 100px;
}
.roboPic {
  grid-area: roboPic;
}
.navbar-background {
  position: relative;
  list-style-type: none;
  margin-left: 200px;
  padding-left: 0;
  background-color: black;
  font-family: Almendra SC;
  display: block;
  text-decoration: none;
  padding: 14px 16px;
}
.navbar-background a {
  color: white;
  text-decoration: none;
}
.navlink {
  padding: 15px;
}
nav a:hover {
  background-color: #b30000;
  color: white;
  height: 200px;
}
.searchbox {
  float: right;
  margin-top: 10px;
}
#headername {
  font-family: lobster;
  position: relative;
  font-size: 50px;
  color: red;
  float: right;
}
.bg {
  background-image: url(images/Mr.-Robot-Welcome.png);
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat;
}
fieldset {
  margin-left: 200px;
  border-style: none;
}
legend {
  font-size: 30px;
  font-family: Almendra SC;
}
.firstfield {
  margin-top: 50px;
}
#welcome {
  text-align: center;
  font-size: 20px;
  font-family: Spectral;
  padding-bottom: 20px;
}
#robo1 {
  font-family: Abril Fatface;
  font-size: 50px;
}
#robo2 {
  font-family: Dancing Script;
  font-size: 50px;
}
#robo3 {
  font-family: Frijole;
  font-size: 50px;
}
img#imgrobo1 {
  width: 200px;
  height: 200px;
}
#welcometext {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  margin-left: 100px;
}
#mrRobot {
  width: 200px;
  height: 200px;
}
.myFooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
ul {
  list-style-type: none;
}
