img.headerlogo {
  height: 200px;
  width: 200px;
}
ul {
  list-style-type: none;
  margin-left: 50px;
  padding-left: 0;
  background-color: #111;
  width: 100px;
}
li {
  display: inline;
}
li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}
.searchbox {
  float: right;
  position: absolute;
  top: 50px;
  right: 20px;
}
li a:hover {
  background-color: #555;
  color: white;
}
#headername {
  font-family: lobster;
  position: absolute;
  left: 500px;
  top: 200px;
  font-size: 50px;
  color: red;
}
footer {
  color: white;
  display: block;
  line-height: 5px;
  font-size: 10px;
  background-color: black;
  padding: 10px;
}
